<div class="margin">
  <h1>Edit Employee</h1>
  <a routerLink="/home">Back</a><br><br>
    <form class="form">
      <label for="">Employee ID</label><br>
      <input name="id"  matInput placeholder="">
      <br><br>
      
      <label for="">Name</label><br>
      <input name="name"  matInput placeholder="">
      <br><br>
      
      <label for="">Department</label><br>
      <textarea name="department" matInput placeholder=""></textarea>
      <br><br>
    
      <button  >Save</button> 
       
      <button class="delete">Delete</button>
   
    </form>
  
      
 
    </div>