<div class="margin">
  <h1>Edit Employee</h1>
  
  <a href="/home">Back</a><br><br>
    <form [formGroup]="editBarang" class="form" (ngSubmit)="updateData()" >
      <div class="form-group">

      
      <label>Employee ID</label><br>
      <input placeholder="ID" formControlName="id" >
    </div>
      <br><br>
      
      <label>Name</label><br>
      <input placeholder="Name" formControlName="name">
      <br><br>
      
      <label>Department</label><br>
      <textarea placeholder="departmen" formControlName="department"></textarea>
      <br><br>
    
      <button type="submit" >Save</button> 
       
      <button class="delete">Delete</button>
   
    </form>
    </div>
 