<div class="margin">
  <h1>Employee List</h1>
  <button routerLink="/tambah">+ New Employee</button>
  <br /><br />
  <table>
    <tr>
      <th ><i class="fa fa-sort-down"></i>Employee ID  </th>
      <th ><i class="fa fa-sort-down"></i>Employee Name</th>
      <th ><i class="fa fa-sort-down"></i>Department</th>
      <th><i class="fa fa-sort-down"></i>Actions</th>
    </tr>
    <tr *ngFor="let item of data">
      <td>{{item.id}}</td>
      <td>{{item.name}}</td>
      <td>{{item.department}}</td>
      <td>
        <a routerLink="/edit/{{item.id}}">[Edit]</a>
      </td>

    </tr>

  </table>